{% extends 'default.html' %}

{% block title %}
    Все объявления
{% endblock title %}

{% block content %}
    <h1>Все объявления</h1>
    <hr>
    <a href="messages/create">Создать объявление</a>
    {% if messages %}
        {% for message in messages %}
            <h2><a href="messages/{{ message.id }}">{{ message.title }}</a></h2>
            <p>{{ message.messageAuthor }}</p>
            <p>{{ message.dateTimeCreation }}</p>
        {% endfor %}
    {% else %}
        <h2>Объявлений нет!</h2>
    {% endif %}
{% endblock content %}