{% extends 'default.html' %}

{% block title %}
    Отклики на мои объявления
{% endblock title %}

{% block content %}
    <h1>Отклики на мои объявления</h1>
    <hr>
    {% if responses %}
    <form method="GET">
        {{ filter.form }}
        <input class="btn btn-primary" type="submit" value="Найти">
    </form>
        {% for response in filter.qs %}
            <h2><a href="responses_to_my_messages/{{ response.id }}">Отклик на "{{ response.message }}"</a></h2>
            <p>{{ response.text }}</p>
        {% endfor %}
    {% else %}
        <h2>Откликов нет!</h2>
    {% endif %}
{% endblock content %}